* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
/* forget about that */
/* body {
  background-image: url(./img/newgame2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
/* forget about that */

body {
  background-color: darkgray;
}
h1 {
  padding: 1rem;
  color: azure;
}

nav {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks {
  display: flex;
}

nav a {
  padding: 1rem;
  color: azure;
}

header {
  background: #333;
  box-shadow: 10px 5px 5px black;
}
/* ---------- SideBar Start ---------- */
.middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.menu {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
}
.item {
  border-top: 1px solid #2980b9;
  overflow: hidden;
}
.btn {
  display: block;
  padding: 16px 20px;
  background: #3498db;
  color: azure;
  position: relative;
}
.btn:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #3498db;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}
.btn i {
  margin-right: 10px;
}
.smenu {
  background: #333;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}
.smenu a {
  display: block;
  padding: 16px 26px;
  color: azure;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}
.smenu a:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #3498db;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}
.smenu a:hover:before {
  opacity: 1;
}
.item:target .smenu {
  max-height: 10em;
}

.kreis {
  z-index: -1;
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  background: azure;
  top: 50%;
  left: -400px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 10px 5px 5px black;
}
/* ---------- Mail Section ---------- */
.mail {
  width: 800px;
  height: 1000px;
  border-radius: 18px;
  background: azure;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 5px 5px black;
}

.nav-mail {
  color: azure;
  border-radius: 18px 18px 0 0;
  background: #3498db;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-mail ul {
  display: flex;
}

.nav-mail a {
  color: azure;
  padding: 1rem;
}

.nav-mail i {
  padding-right: 0.5rem;
}

.mail-head {
  padding: 1rem;
}

#button-mail {
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: azure;
  background: #3498db;
}
